.btn_del {
  appearance: button;
  background-color: rgb(240, 7, 7);
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: rgb(100, 255, 183);
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 8px 20px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn_del:focus {
  text-decoration: none;
}

.btn_del:hover {
  text-decoration: none;
}

.del:disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.btn_del:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

.btn_del:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

.page_btn {
  background-color: aqua;
  width: 50px;
  height: 30px;
  border-radius: 50%;
  font-weight: bold;
  border: none;
}

.page_btn:hover {
  cursor: pointer;
  background-color: orange;
}

.img_btn {
  width: 40px;
  height: 40px;
  border-radius: 50% 25%;
  transition: 0.5s ease-in-out;
}

.img_btn:hover {
  cursor: pointer;
  background-color: rgb(177, 226, 43);
  border-radius: 25% 50%;
}

.edit {
  margin-left: 5px;
}

.img_btn_small {
  background-color: yellow;
}

.img_btn_small:disabled {
  pointer-events: none;
  background-color: rgba(194, 191, 191, 0.77);
}

.img_btn_small:hover {
  background-color: rgba(255, 127, 80, 0.774);
  cursor: pointer;
}

.icon {
  width: 25px;
  height: 25px;
}

.form_btn {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  width: 100px;
  height: 40px;
  border: transparent;
  /* background-color: rgb(156, 255, 243); */
  background-color: transparent;
  color: rgb(255, 234, 0);
  transition: all 0.5s ease;
  border-radius: 5px;
  transform: rotateZ(0deg);
  /* transform-origin: left; */
}
.form_btn:hover {
  cursor: pointer;
  border: 2px solid white;
  transform: rotateZ(360deg);
  color: white;
  transition: all 0.5s ease;
}

.nav_btn img {
  margin-left: -4px;
}

.nav_btn {
  border: none;
  background-color: aquamarine;
  border-radius: 5px;
}

.nav_btn:hover {
  background-color: bisque;
  cursor: pointer;
}

.nav_btn:disabled {
  background-color: rgba(107, 107, 107, 0.574);
  pointer-events: none;
}

@media (min-width: 768px) {
  .btn_del {
    padding: 12px 50px;
  }
}
